1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators. 

Answer: Expressions= * - / +
        Values= -87.8,6,"hello"

2. What is the difference between string and variable?

Answer: 
String: The String is an Data type were we put the sequence of characters inside either single code(' ') or doubke         quote(" ") and then assign it to variable. eg a="Manjunath"

Variable: It is a references that you create to represent any value in your program.eg:a=2(here a is variable and assigned value is 2)

3. Describe three different data types. 

Answer:
Integer: It contains positive or negative whole numbers eg:a=10.
Boolean: This data types return two values True or False. 
Float:It conatains positive or negative decimal point numbers.eg:a=-87.6

4. What is an expression made up of? What do all expressions do? 

Answer:
Expression represents the value.Expression is combination of values,variables and operations.if you type and expression on the command line.the interpreter evaluates it and display the result.
for eg:

In [5]:
1+2

3

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement? 

Answers: 
Anything that evaluates to something is a python expression,while anything that does something is a python statement like loops,assignment statement etc.
for eg:(print() where print is a statement,it print whatever is written inside it)

6. After running the following code, what does the variable bacon contain? 
Answer: The bacon returns the value 23.

In [1]:
bacon = 22 

bacon + 1

23

7. What should the values of the following two terms be? 
spam' + 'spamspam' 

'spam' * 3 

Answer:

In [3]:
a='spam'+"spamspam"
b='spam'*3
print("a=",a)
print("b=",b)

a= spamspamspam
b= spamspamspam

8. Why is eggs a valid variable name while 100 is invalid? 

Answer:
Variable 100 is invalid it will give error because in python the variable name should begin with a Letter not a integer.
for eg: num=0

In [4]:
100=0

SyntaxError: cannot assign to literal (<ipython-input-4-291b1ee36684>, line 1)

9. What three functions can be used to get the integer, floating-point number, or string version of a value? 

Answer:
The int(),float(),str() functions can be used to get the integer,floating point number,or string version of a value.

10. Why does this expression cause an error? How can you fix it? 

'I have eaten ' + 99 + ' burritos.' 

Answer: Above expression gives error because we cannot concatenate str with int.To execute this we can convert int to string i.e 
99 string to '99'

In [5]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [6]:
'I have eaten ' + '99'+ ' burritos.'

'I have eaten 99 burritos.'